/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter',sans-serif;
    background:#f8fafc;
    color:#111827;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

.navbar{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    background:#ffffff;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 4px 15px rgba(0,0,0,.06);
}

.logo h2{
    color:#2563eb;
    font-size:30px;
    font-weight:800;
}

nav ul{
    display:flex;
    gap:28px;
}

nav a{
    font-weight:600;
    transition:.3s;
}

nav a:hover{
    color:#2563eb;
}

.btn{
    background:#2563eb;
    color:#fff;
    padding:12px 24px;
    border-radius:12px;
    font-weight:700;
    transition:.3s;
}

.btn:hover{
    background:#1d4ed8;
}

.hero{
    text-align:center;
    padding:90px 20px;
}

.hero h1{
    font-size:56px;
    font-weight:800;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    color:#6b7280;
    max-width:700px;
    margin:auto;
}

.search-box{
    max-width:650px;
    margin:45px auto 0;
    display:flex;
    background:#fff;
    border-radius:16px;
    overflow:hidden;
    box-shadow:0 8px 30px rgba(0,0,0,.08);
}

.search-box input{
    flex:1;
    border:none;
    outline:none;
    padding:18px;
    font-size:16px;
}

.search-box button{
    border:none;
    background:#2563eb;
    color:#fff;
    padding:0 30px;
    cursor:pointer;
    font-weight:700;
}
.subjects{
    padding:80px 8%;
    text-align:center;
}

.subjects h2{
    font-size:42px;
    margin-bottom:50px;
}

.subject-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.card{
    background:#ffffff;
    padding:40px 25px;
    border-radius:18px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
    cursor:pointer;
}

.card:hover{
    transform:translateY(-10px);
}

.card span{
    font-size:50px;
}

.card h3{
    margin:20px 0 10px;
}

.card p{
    color:#6b7280;
}
.classes{
padding:80px 8%;
text-align:center;
}

.classes h2{
font-size:42px;
margin-bottom:40px;
}

.class-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.class-card{
background:#2563eb;
color:white;
padding:40px;
border-radius:20px;
transition:.3s;
cursor:pointer;
}

.class-card:hover{
transform:translateY(-10px);
background:#1d4ed8;
}

.class-card h3{
font-size:32px;
margin-bottom:10px;
}
